* {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-size: xx-large;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #23283b;
}

.grid-container {
    display: grid;
    border: 1px solid #949da4;
    background-color: #131313;
    width: 320px;
    height: 500px;
    border-radius: 5px;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  button {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    margin: 2px;
  }

  .fun-btn {
    background: #00E6F6;
    border-color: #00E6F6;
  }

  button.number {
    background: #232534;
    color: aliceblue;
    border-color: #232534;
  }

  .fun-btn:hover {
    background-color: #00c6d4;
  }

  button.number:hover {
    background-color: #282a3a;
  }

  #display {
    margin: 5px;
    margin-bottom: 10px;
    padding-right: 15px;
    text-align: end;
    color: aliceblue;
    border: 5px solid #232534;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 110px;
    overflow-y: auto;
  }

  *::-webkit-scrollbar {
    width: 2px; 
  }
  
  *::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00c6fb, #00c6d4);
  }

  .forNumbers {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  span.expression {
    /*word-break: break-all;*/
  }

  span.equals {
    /*word-break: break-all;*/
    font-size: 15px;
    color: #949da4;
  }